/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1;
  /* overflow-x: hidden; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1a1a1a url("../img/order-now/bg-image.png") top/contain no-repeat;
}

/* ------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 100px 0px 0px 0px;
}

._ibg {
  position: relative;
  overflow: hidden;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1140px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.header {
  position: absolute;
  min-height: 90px;
  width: 100%;
  z-index: 100;
  padding: 33px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  height: 24px;
  margin: 0px 9px 0px 0px;
}

.logo__image {
  width: 100%;
}

.logo__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 174px;
          flex: 0 0 174px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 2px 0px;
}

.logo__item {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu__list {
  padding: 0px 11px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.menu__item {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #34c759;
  text-shadow: 0px 0px 5px #175a28;
}

@media (max-width: 425.98px) {
  .main {
    padding: 140px 0px 0px 0px;
  }
}

@media (max-width: 320.98px) {
  .main {
    padding: 180px 0px 0px 0px;
  }
  .header {
    padding: 20px 0px;
  }
  .header__body {
    row-gap: 20px;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    padding: none;
    text-align: center;
  }
  .menu__item {
    font-size: 16px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0px;
  }
}

.main__order-now {
  color: #ffffff;
}

.order-now {
  padding: 80px 0px 50px 0px;
}

@media (max-width: 767.98px) {
  .order-now {
    padding: 40px 0px 50px 0px;
  }
}

.order-now__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-now__main-title {
  max-width: 1100px;
  font-size: 72px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.order-now__main-title:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 991.98px) {
  .order-now__main-title {
    font-size: 52px;
  }
}

@media (max-width: 767.98px) {
  .order-now__main-title {
    font-size: 40px;
  }
  .order-now__main-title [class*="__container"] {
    max-width: none;
  }
}

.order-now__sub-title {
  max-width: 580px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: -0.2px;
  opacity: 0.7;
}

.order-now__sub-title:not(:last-child) {
  margin-bottom: 40px;
}

.order-now__button:not(:last-child) {
  margin-bottom: 70px;
}

@media (max-width: 320.98px) {
  .order-now__button:not(:last-child) {
    margin-bottom: 50px;
  }
}

.order-now__information {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-now__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 245px;
          flex: 0 1 245px;
}

.main-button {
  border-radius: 43px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main-button:hover {
  -webkit-box-shadow: 0px 0px 10px #259241;
          box-shadow: 0px 0px 10px #259241;
}

.main-button__item {
  cursor: pointer;
  background: #34c759;
  border-radius: 43px;
  padding: 25px 57px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1a1a1a;
}

.item-order-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-order-now__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21px;
          flex: 0 0 21px;
  height: 20px;
}

.item-order-now__icon img {
  width: 100%;
}

.item-order-now__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item-order-now__title {
  color: #fff;
  line-height: 1.87;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.item-order-now__title:hover {
  text-shadow: 0px 0px 3px #fff;
}

.item-order-now__text {
  opacity: 0.5;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

.mian__how-it-work {
  padding: 60px 0px 30px 0px;
}

.how-it-work__title:not(:last-child) {
  margin-bottom: 60px;
}

.how-it-work__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -15px;
}

.how-it-work__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  min-width: 200px;
  padding: 0px 15px;
}

.title {
  position: relative;
  padding: 30px 0px;
  font-size: 36px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
  background: url("../img/how-it-work/EVENTS.svg") center no-repeat;
}

.title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #34c759;
  position: absolute;
  left: 50%;
  top: 145px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.card-how-it-work {
  height: 100%;
  padding: 24px;
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-how-it-work:hover {
  background-color: #34c759;
}

.card-how-it-work:hover .card-how-it-work__title {
  color: #191919;
}

.card-how-it-work:hover .card-how-it-work__title::after {
  background-color: #191919;
}

.card-how-it-work:hover .card-how-it-work__text {
  color: #191919;
}

.card-how-it-work__title {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #ffffff;
}

.card-how-it-work__title:not(:last-child) {
  margin-bottom: 24px;
}

.card-how-it-work__title::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #34c759;
  display: block;
  margin: 24px 0px 0px 0px;
}

.card-how-it-work__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
  .mian__how-it-work {
    padding: 30px 0px 20px 0px;
  }
  .order-now {
    padding: 80px 0px 30px 0px;
  }
  .how-it-work__title {
    padding: 20px 0px;
  }
  .how-it-work__cards {
    row-gap: 25px;
    margin: 0px -12px;
  }
  .how-it-work__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    min-width: none;
    padding: 0px 12px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .mian__how-it-work {
    padding: 30px 0px 20px 0px;
  }
  .how-it-work__title {
    padding: 15px 0px;
    font-size: 28px;
  }
  .how-it-work__title:not(:last-child) {
    margin-bottom: 40px;
  }
  .how-it-work__title::after {
    top: 105px;
  }
  .how-it-work__cards {
    row-gap: 20px;
  }
  .how-it-work__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 300px;
  }
  .main-button__item {
    padding: 20px 47px;
  }
}

.main__dish {
  padding: 60px 0px 30px 0px;
}

.dish__title:not(:last-child) {
  margin-bottom: 59px;
}

.dish__product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0px -15px;
}

.dish__product-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  padding: 0px 15px;
}

.title_bg {
  background: url("../img/dish/title-bg.png") center no-repeat;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.card__btn {
  position: absolute;
  z-index: 3;
  width: 40px;
  height: 40px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url("../img/dish/ic_share2.svg") 50% 50% no-repeat;
  mix-blend-mode: normal;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.6);
}

.card__picture {
  display: block;
  padding: 0px 0px 74.285714% 0px;
}

.card__picture img {
  border-radius: 6px 6px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__picture:hover img {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.card__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 29px 24px 24px 30px;
}

.card__main-title {
  font-size: 32px;
  line-height: 0.94;
  color: #d9d9d9;
}

.card__sub-title {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.card__sub-title:not(:last-child) {
  margin-bottom: 22px;
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: #85878c;
}

.card__text:not(:last-child) {
  margin-bottom: 18px;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.card__stars {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__stars img:not(:last-child) {
  margin-right: 14px;
}

.card__value {
  font-weight: 900;
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 1.5px;
  color: #b3b3b3;
}

.card__button {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-weight: 900;
  font-size: 10px;
  line-height: 3.6;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #262626;
  border: 2px solid #303030;
  padding: 0px 24px;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.card__button:hover {
  background-color: #34c759;
  border: 2px solid transparent;
  color: #252525;
}

@media (max-width: 425.98px) {
  .main__dish {
    padding: 20px 0px 20px 0px;
  }
  .title {
    background-size: 90%;
    padding: 15px 0px;
    font-size: 28px;
  }
  .title_bg {
    padding: 20px 0px;
  }
  .title:not(:last-child) {
    margin-bottom: 40px;
  }
  .title::after {
    top: 105px;
  }
}

@media (max-width: 320.98px) {
  .dish__product-cards {
    row-gap: 20px;
  }
  .dish__product-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .card__body {
    padding: 16px 15px 19px 15px;
  }
}

.recipes {
  color: #ffffff;
  padding: 60px 0px 30px 0px;
}

.recipes__title:not(:last-child) {
  margin-bottom: 60px;
}

.recipes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -15px;
  border-radius: 6px;
}

.recipes__block-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.recipes__block-main:hover .main-block {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.recipes__sub-block {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.title_bg-recipes {
  background: url("../img/recipes/bg-recipes.png") center no-repeat;
}

.main-block {
  height: 100%;
  position: relative;
  padding: 60px 90px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/recipes/main-block-bg.png") 50%/cover no-repeat;
  border-radius: 6px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.main-block__button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__button::before {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/recipes/button-icon.svg") -1px 3px no-repeat;
}

.main-block__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background: rgba(0, 0, 0, 0.6);
}

.main-block:hover {
  color: #000;
}

.main-block:hover .name {
  background: black;
  color: #fff;
}

.main-block:hover .footer-main-block__num-view {
  background: url("../img/recipes/num-view-black.svg") 4px 7px no-repeat;
}

.main-block:hover .footer-main-block__num-comment {
  background: url("../img/recipes/comment-black.svg") 4px 7px no-repeat;
}

.main-block:hover::before {
  background: #34c759;
  opacity: 0.1;
}

.main-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.main-block__name:not(:last-child) {
  margin-bottom: 65px;
}

.main-block__date:not(:last-child) {
  margin-bottom: 25px;
}

.main-block__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 411px;
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
}

.main-block__text:not(:last-child) {
  margin-bottom: 45px;
}

.main-block__author {
  font-size: 14px;
  line-height: 2.14;
}

.main-block__author:not(:last-child) {
  margin-bottom: 60px;
}

.name {
  background: rgba(0, 0, 0, 0.3);
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 0px 16px;
  border-radius: 5px;
}

.date {
  font-size: 14px;
  line-height: 2.14;
}

.footer-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-main-block__num-view {
  padding: 0px 0px 0px 36px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.5;
  background: url("../img/recipes/num-view.svg") 4px 7px no-repeat;
}

.footer-main-block__num-comment {
  padding: 0px 0px 0px 36px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.5;
  background: url("../img/recipes/comment.svg") 4px 7px no-repeat;
}

.sub-block__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.sub-block__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.sub-block__item:hover {
  background: #34c759;
  color: #000;
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.sub-block__item:hover .name {
  background: black;
  color: #fff;
}

.sub-block__item:hover .footer-main-block__num-view {
  background: url("../img/recipes/num-view-black.svg") 4px 7px no-repeat;
}

.sub-block__item:hover .footer-main-block__num-comment {
  background: url("../img/recipes/comment-black.svg") 4px 7px no-repeat;
}

.sub-block__item_bg {
  background: url("../img/recipes/sub-block-img.png") 50%/cover no-repeat;
}

.item-sub-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  height: 100%;
  padding: 30px 25px 20px 30px;
}

.item-sub-block__text {
  line-height: 1.87;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item-sub-block__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-sub-block__bottom-lp {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 15px;
}

.item-sub-block__name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-sub-block__bottom-rp {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
  [class*="__container"] .recipes__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 6px;
    row-gap: 30px;
  }
  [class*="__container"] .recipes__block-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  [class*="__container"] .recipes__sub-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  [class*="__container"] .item-sub-block {
    min-height: 140px;
  }
}

@media (max-width: 425.98px) {
  .recipes {
    padding: 40px 0px 20px 0px;
  }
  .title {
    background-size: 90%;
    line-height: 1.8;
    padding: 15px 0px;
    font-size: 28px;
  }
  .title_bg {
    padding: 20px 0px;
  }
  .title:not(:last-child) {
    margin-bottom: 40px;
  }
  .title::after {
    top: 125px;
  }
  .main-block {
    padding: 35px 40px;
  }
  .main-block__name:not(:last-child) {
    margin-bottom: 40px;
  }
  .main-block__date:not(:last-child) {
    margin-bottom: 18px;
  }
  .main-block__author:not(:last-child) {
    margin-bottom: 40px;
  }
  .sub-block__items {
    row-gap: 20px;
  }
  .item-sub-block {
    padding: 20px 20px 15px 20px;
  }
  .item-sub-block__footer {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .item-sub-block__bottom-lp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item-sub-block__bottom-rp {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
